.container{
	display: grid;
	grid-template-columns:repeat(2, 1fr);
	grid-template-rows:repeat(4, fr);
	grid-column-gap:0px;
	grid-row-gap: 0px;
	grid-template-areas: 
					'Header Header'
					'Galery Galery'
					'containerMain containerMain'
					'Object-area Object-area'
					'Footer Footer';
}

.header{ 	grid-area:Header; }

.Container-Galery{ 	grid-area:Galery; }

.containerMain{ 	grid-area:containerMain; }

.containner-Articulos{ 	grid-area:Object-area; }

.footer{ 	grid-area:Footer; }
